@{
    var db = Database.Open("pmis");
    string pagePath = Request.Url.AbsolutePath;
    TimeZoneInfo targetZone = TimeZoneInfo.FindSystemTimeZoneById("Central Standard Time");
    DateTime newDT = TimeZoneInfo.ConvertTimeFromUtc(DateTime.UtcNow, targetZone);
    db.Execute("insert into user_logs (user_id, get_id, access_time, page, section) values (@0, @1, @2, @3, 'Project')", WebSecurity.CurrentUserId, Request.QueryString["id"], newDT, pagePath);

    string dashLinkClass = "";
    switch (pagePath)
    {
        case "/project/dashboard":
            dashLinkClass = "active";
            break;
    }
    string pName = db.QueryValue("select project_name from projects where id=@0", Request.QueryString["id"]);
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project MIS Manage Project - @pName</title>
    @RenderPage("~/Shared/load-css.cshtml")
    @RenderPage("~/Shared/load-js.cshtml")
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <a class="navbar-brand" href=@Href("~/mypmis/dashboard")>
            <img src=@Href("~/Images/pmis.png") width="25" height="25" alt="">
                My Project MIS
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item @dashLinkClass">
                        <a class="nav-link" href=@Href("~/project/dashboard?id=" + @Request.QueryString["id"])>
                            Dashboard
                            @if (dashLinkClass == "active")
                            {
                                <span class="sr-only">(current)</span>
                            }
                        </a>
                    </li>
                    @foreach (var groupRow in db.Query("select id, group_name from process_groups order by sort_order"))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-@groupRow.id" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @groupRow.group_name
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown-@groupRow.id">
                                @foreach (var row in db.Query("select process_name from processes where group_id=@0 order by sort_order", groupRow.id))
                                {
                                    string pageLink = row.process_name;
                                    pageLink = pageLink.ToLower().Replace(" ", "-");
                                    <a class="dropdown-item" href=@Href("~/project/" + pageLink + "/dashboard?id=" + Request.QueryString["id"])>@row.process_name</a>
                                }
                            </div>
                        </li>
                    }
                    <li class="nav-item">
                        <a class="nav-link" href=@Href("~/account/account") title="Account"><i class="fas fa-user-circle"></i></a>
                    </li>
                    @if (Context.User.IsInRole("admin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" href=@Href("~/admin/users") title="Administration"><i class="fas fa-users-cog"></i></a>
                        </li>
                    }
                    <li class="nav-item">
                        <a class="nav-link" href="https://docs.google.com/document/d/120fclkVU3COH4KsHxn4ZmoTYmuG8FbWn7w0-PYHqbwo/edit?usp=sharing" target="_blank" title="Help"><i class="fas fa-question-circle"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=@Href("~/account/logout") title="Logout"><i class="fas fa-sign-out-alt"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br />
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - Project MIS</p>
        </footer>
    </div>
</body>
</html>