@{Layout = "_Layout.cshtml";}

@{
    var db = Database.Open("pmis");
    string successMsg = "";
    string errMsg = "Unknown error.";
    int success = 0;
    bool isPostBack = false;
    if (IsPost)
    {
        isPostBack = !String.IsNullOrEmpty(Request.Form["SaveType"]);
        switch (Request.Form["SaveType"])
        {
            case "Add":
                try
                {
                    Roles.AddUserToRole(Request.Form["uname"], Request.Form["rname"]);
                    success = 1;
                    successMsg = "User " + (Request.Form["uname"]) + " added to Role (" + Request.Form["rname"] + ").";
                }
                catch (Exception ex)
                {
                    success = 0;
                    errMsg = ex.Message.ToString();
                }
                break;
            case "Delete":
                try
                {
                    Roles.RemoveUserFromRole(Request.Form["uname"], Request.Form["rname"]);
                    success = 1;
                    successMsg = "User (" + Request.Form["uname"] + ") removed from Role (" + Request.Form["rname"] + ").";
                }
                catch (Exception ex)
                {
                    success = 0;
                    errMsg = ex.Message.ToString();
                }
                break;
        }
    }
    string selectQueryString = "select r.RoleId, RoleName from webpages_Roles r join webpages_UsersInRoles ur on r.RoleId=ur.RoleId where ur.UserId=@0 order by RoleName";
}

@if (isPostBack)
{
    if (success > 0)
    {
        <div class="alert alert-success" role="alert"><strong>@successMsg</strong></div>
    }
    else
    {
        <div class="alert alert-danger" role="alert"><strong>Error: </strong>@errMsg</div>
    }
}
<div class="container">
    <div class="pmis-detail-page-heading">
        <h3 class="pmis-detail-page-title">Roles for user: @Request.Form["uname"]</h3>
    </div>
    <div class="table-responsive">
        <table class="table table-hover sticky-table">
            <thead>
                <tr>
                    <th>Role</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var row in db.Query(selectQueryString, @Request.Form["uid"]))
                {
                    <tr>
                        <td>@row.RoleName</td>
                        <td>
                            <form method="post" action="user-roles">
                                <input type="hidden" name="uname" value="@Request.Form["uname"]" />
                                <input type="hidden" name="uid" value="@Request.Form["uid"]" />
                                <input type="hidden" name="rname" value="@row.RoleName" />
                                <button class="btn btn-primary" type="submit" onclick="return confirm('Are you sure?')" name="SaveType" value="Delete" title="Remove role from this user"><i class="fas fa-trash-alt"></i></button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @{
        string rolesQueryString = "select RoleId, RoleName from webpages_Roles where RoleId not in (select RoleId from webpages_UsersInRoles where UserId=@0) order by RoleName";
    }
    <form method="post" action="user-roles">
        <div class="form-group row">
            <label for="rname" class="pr-1">Add role for this user</label>
            <select class="form-control" name="rname" id="rname">
                @foreach (var row in db.Query(rolesQueryString, @Request.Form["uid"]))
                {
                    <option value="@row.RoleName">@row.RoleName</option>
                }
            </select>
        </div>
        <div class="form-group row">
            <input type="hidden" name="uid" value="@Request.Form["uid"]" />
            <input type="hidden" name="uname" value="@Request.Form["uname"]" />
            <button class="btn btn-primary" type="submit" name="SaveType" value="Add" title="Add"><i class="fas fa-plus"></i></button>
        </div>
    </form>
</div>